<div id="content">

  <div id="tertiaryContent">
    <h3>Site Details</h3>
    <ul>
      <li><%= "Total ladders : #{@ladders.size}" %></li>
      <li><%= "Number of players : #{@players}" %></li>
      <li><%= "Challenges made : #{@challenges}" %></li>
    </ul>
    <div class="xbg"></div>
  </div>

  <div id="primaryContentContainer">
    <div id="primaryContent">
      <h2> About </h2>
      <p>
        Are you looking for an efficient, organized ranking system for group sporting events and tournaments?
      </p>
      <p>
        Sports Ladder is an internet-based ladder system that currently supports tennis ladders, with plans to track to additional sports in the future. 
        Keep tabs on scores, or take it one step further and challenge your opponents to a match right from the website. Settings for each ladder are completely customizable, 
        and can be changed any time by the ladder administrator. Lastly, connect to other ladder participants with messages in a particular ladder's comments section.
      </P>
      <h2><%= "Current Ladders" %></h2>
      <table>
	      <tr class="rowH">
	        <th>Ladder Name</th>
	        <th>Active Since</th>
	        <th>Number of Players</th>
	        <th>Challenges Made</th>
      	</tr>
      	<% @ladders.each do |l| %>
      	<tr class="rowA">
      	  <td><%= link_to "#{l.name}", ladder_path(l) %></td>
      	  <td><%= "#{l.created_at.strftime("%b-%d-%Y")}" %></td>
      	  <td><%= "#{l.rungs}" %></td>
      	  <td><%= "#{l.best_of}" %></td>
      	</tr>
        <%end%>      	
      </table>
      
    </div>
  </div>

  <div id="secondaryContent">
 
    <div class="xbg"></div>
  </div>

  <div class="clear"></div>
  
</div>




